@font-face{
    font-family: Chewy, system-ui;
    src: url(/src/assets/fonts/Chewy-Regular.ttf) format("truetype");
    font-style: normal;
}
@font-face{
    font-family: Pacifico, cursive;
    src: url(/src/assets/fonts/Pacifico-Regular.ttf) format("truetype");
    font-style: normal;

}

body
{
    background-color: black;
    color: #ffb84d;
}

.HH-authenticator
{
    width: fit-content;
    height:fit-content;

    margin: auto;

    border:#ffb84d;
    border-style: solid;
    border-width: 3px;
    
}

.HH-Header h1{
    font-family: "Pacifico", cursive;
    font-size: 64px;

    padding-right: 4cm;
    padding-left: 4cm;
    padding-top: 0.4cm;
    padding-bottom: 0.4cm;
}

.HH-contents{
    font-family: "Pacifico", cursive;

    display: block;
}

.username{
    width:fit-content;

    justify-self:center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom:9px;

    padding-left: 1cm;
    padding-right: 1cm;

    border: #ffb84d;
    border-style: solid;
}

.password{
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;

    padding-left: 1cm;
    padding-right: 1cm;

    border: #ffb84d;
    border-style:solid;

}

.HH-footer{
    font-family: "Pacifico", cursive;

    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    border-top-color: #ffb84d;
    border-top-style:solid;
}

.HH-footer p:hover{
    text-decoration: underline;
}