@font-face {
    font-family: Magic;
    src: url("../assets/fonts/MagicBubble-0v0Gr.ttf") format('truetype');
}

@font-face {
    font-family: BeePollen;
    src: url("../assets/fonts/BeePollen-lgE8Z.otf") format('opentype');
}

:root{
    --theme-color: #ffb84d;
}

body {
    color: var(--theme-color);
}

.HH-contents {
    font-family: BeePollen, Chewy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 322px;
    padding-right: 322px;
}

.HH-Buzzboard {
    display: flex;
    flex-direction: column;
    max-width: auto;
    padding: 0 10px 0 10px;
    background-color: var(--theme-color);
    border: solid var(--theme-color);
}

.month-nav {
    display: flex;
    background-color: var(--theme-color);
    gap: 30px;
}

.month-panel 
{
    display:flex;

    justify-content: center;
    align-items: center;

    color: black;

    font-size: 40px;
    font-weight: bold;

    background-color: var(--theme-color);
}

.month-nav li
{
    font-family: BeePollen, Chewy;

    list-style-type: none;

    display: inline-flex;

    align-self: center;
    justify-self: center;
}

#MOY {
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: var(--default-cursor);
}

.prev {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    cursor: var(--pointer-cursor);
}

.next {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    cursor: var(--pointer-cursor);
}

.calendar-grid {
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 1.1px 1.5px;

    width: 100%;
    min-width: 0;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: var(--theme-color);

    list-style-type: none;
}

.calendar-grid li
{
    display: flex;

    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    border: solid var(--theme-color);
    aspect-ratio:1/1;
}

.weekdays 
{
    color: black;
    background-color: var(--theme-color);
}

.days {
    display: flex;
    align-items: flex-start;

    color: var(--theme-color);

    background-color: black;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}

.days p
{
    float: right;
    margin: 0 0 auto auto;
    padding: 2.5px;
}

.days:hover
{
    color: black;

    background-color: var(--theme-color);

    border: 1px solid black;
}

.details-section
{
    color: black;
}

#toggle_button
{
    display:flex; 

    justify-self: center;

    background-color: black;

    width: 40px;
    height: 10px;
    margin-top: 25px;

    border: 3px outset;
    border-radius: 5px;
    border-color: black;
}

#details-wrapper
{
    display: list-item;

    background-color: var(--theme-color);
    overflow-y: scroll;
    overflow-wrap: break-word;

    scrollbar-color: black var(--theme-color);
}