@font-face {
    font-family: Magic;
    src: url("../assets/fonts/MagicBubble-0v0Gr.ttf") format('truetype');
}

@font-face {
    font-family: BeePollen;
    src: url("../assets/fonts/BeePollen-lgE8Z.otf") format('opentype');
}



.HH-contents
{
    font-family: BeePollen, Chewy;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.month-panel 
{
    color: black;
    font-size: 40px;
    font-weight: bold;
    background-color: #ffb84d;
}

.month-nav li
{
    font-family: BeePollen, Chewy;
    list-style-type: none;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;

    color: black;
    background-color: #ffb84d;
}

.weekdays
{
    list-style-type: none;
    border: solid;

    justify-self: center;
}

.days
{
    list-style-type: none;
    border: solid;

    justify-self: right;
}