@font-face {
    font-family: BeePollen, system-ui;
    src: url("../assets/fonts/BeePollen-lgE8Z.otf") format('opentype');
    font-style: normal;
}

body {
    color: var(--theme-color);
}

.HH-contents {
    font-family: BeePollen, Chewy;
    display: flex;
    color: var(--theme-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 322px;
    padding-right: 322px;
}

#discussion-header {
    display: flex;
    flex-direction: row;
    color:inherit;
    justify-content: center;
    align-items: center;

    padding-right: 300px;
    margin-bottom: 10px;
}

#discussion-header h4{
    margin: 0px;
    padding: 0px 40px 0px 40px;
}

#discussion-header h4:hover{
    cursor: var(--pointer-cursor);
    font: larger;
}

#discussion-header button {
    color:var(--theme-color);
    font: inherit;

    text-align: center;

    height: fit-content;
    width:fit-content;

    background-color: inherit;
    padding: 5px;
    border: 2px solid var(--theme-color);
}

#discussion-header button:hover{
    cursor: var(--pointer-cursor);
}

#topic-table{
    table-layout: fixed;
}

#topics-header:hover {
    cursor: var(--default-cursor);
}

#topics-header th {
    padding: 20px;
    border-bottom: solid thick var(--theme-color);
}

.topics-row td:hover {
    cursor: var(--pointer-cursor);
    text-decoration: dotted var(--theme-color);
}

.topic-col{
    text-align: left;
    width: 400px;
}

.reply-col{
    width: 10px;

    text-align: center;

    padding: 50px 0px 50px 0px;
}

.activity-col{
    width: 25px;
    text-align: center;
}