@font-face {
    font-family: Magic;
    src: url("../assets/fonts/MagicBubble-0v0Gr.ttf") format('truetype');
}

@font-face {
    font-family: BeePollen;
    src: url("../assets/fonts/BeePollen-lgE8Z.otf") format('opentype');
}

@keyframes HeaderAnim {
    33% {
        transform: rotate(10deg);
    }

    66% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffb84d;
    min-height: 100%;
}

/* For login and signup pages */
body.SignOn-page {
    background-image: url(../assets/img/HHBckgrd.jpeg);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* For pages with honey combs */
body.Main-page {
    background-image: url(../assets/img/HHBckgrd.jpeg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.HH-MyHive {
    font-family: BeePollen, Chewy;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    margin: auto;
}

.HH-Home {
    font-family: BeePollen, Chewy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    margin: auto;
}
}

.HH-MyHive button{
    font-family: BeePollen, Chewy;
    font-size: 24px;

    color: #ffb84d;
    background-color: black;

    border: none;
}

.HH-Header h1 {
    font-family: Magic, 'Comic Sans MS';
    font-size: 64px;
    font-weight: normal;
    font-style: normal;

    width: fit-content;
    height: fit-content;
}

.HH-Header h1:hover {
    animation-name: HeaderAnim;
    animation-duration: 0.8s;
 }

.HH-footer {
    font-family: BeePollen, Chewy;

    width: fit-content;

    margin-top: 0.4cm;

    border-top-color: #ffb84d;
    border-top-style: solid;
}

.HH-footer a {
    color: inherit;

    text-decoration: none;

    display: block;

    margin-top: 0.4cm;
}

.HH-footer a:visited {
    color: inherit;
}

.HH-footer a:hover {
    text-decoration: underline;
}
